<div class="card">
  <div class="card-header">
    <img title="Ian Mckie Github" src="https://avatars1.githubusercontent.com/u/26541553?s=460&v=4" />
    <h4>My Latest Git Activity</h4>
  </div>
  <a *ngFor = 'let repo of repos' href="{{ repo.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ repo.name }}</h5>
      <small>{{ repo.createdAt | daysAgo }}</small>
    </div>
    <p class="mb-1">{{ repo.message }}</p>
  </a>
  <div class="card-body">
    <a href="https://github.com/ianmckie/" class="card-link">Go to my github</a>
  </div>
</div>